.head-bar {
    color:rgb(255, 255, 255);
    background-color: black;
    font-size:2vw;
    text-align: justify;
    margin-top: 0px;
    margin-left: 5%
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding:0%;
  }
  li {
    display: inline-flex;
    padding-right: 13%
  }
  
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:link:active, a:visited:active{
    color: white;
  }
  
a:hover {
    color:pink;
  }