.head-bar {
    color:rgb(255, 255, 255);
    background-color: black;
    font-size:2vw;
    text-align: justify;
    margin-top: 0px;
  }


  
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:link:active, a:visited:active{
    color: white;
  }
  
a:hover {
    color:pink;
  }